/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Manrope:wght@700&family=Poppins:wght@400;500;600;700&family=Roboto:wght@700&display=swap');

/* utilities */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
}
ul>li{
    list-style: none;
}

section{
    position: relative;
    padding: 50px 0;
}




/* header section start */


header.header {
    width: 100vw;
}
.container {
    max-width: 1280px;
    margin: auto;
}

h3{
    font-size: 32px;
    font-weight: 700px;
    color: #3A3A3A;
}
.navbar, .navbar_links ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
}
.navbar_links{
    flex-basis: 45%;
}
a{
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    color: #3A3A3A;
    transition: color 150ms;
}
#different_color{
    color: #e91e63;
}
.navbar_links ul li a:hover{
    color: #e91e63;
}
.navbar_links ul li a i {
    font-size: 20px;
}



/* header section end */



/* main section start */


.main_section{
    padding-bottom: 50px;
}
.main_section_text{
    flex-basis: 52%;
    padding: 20px;
    overflow: hidden;
}
span.animation {
    display: inline-block;
    position: relative;
}

span.animation::after {
    content: '';
    position: absolute;
    background: #FFFFFF;
    width: 100%;
    height: 100%;
    border-left: 2px solid red;
    top: 0;
    left: 0;
    animation: typing 3s steps(21) infinite;
}
@keyframes typing{
    100%{
        left: 105%;
    }
}
.main_section_image img {
    z-index: 5;
}
img#circle_background {
    position: absolute;
    width: 100%;
    z-index: 1;
    animation: example 2s ease-in-out infinite alternate;
}
@keyframes example{
    100%{
        transform: scale(1.1);
    }
}
.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 1200px;
    margin: auto;
}
h1{
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
    color: #3A3A3A;
}
h3{
    font-size: 26px;
    font-weight: 700;
    color: #3A3A3A;
}
p{
    font-size: 1em;
    font-weight: 600;
    color: #3A3A3A;
    padding: 10px 0;
}
.main_section_text p {
    width: 500px;
}
.button{
        margin: 15px 0;
        padding: 14px 35px;
        border: 2px solid #e91e63;
        border-radius: 25px;
        background: #e91e63;
        color: #FFF;
        font-weight: 600;
        font-size: 1em;
        letter-spacing: 1px;
        transition: 500ms;
}
button.button:hover {
    transform: scaleX(1.1);
    background: #FFFFFF;
    color: #e91e63;
}
.main_section_image {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-basis: 38%;
}


/* main section end */


/* website links */



.row_width{
    max-width: 1110px;
}
.website_list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    position: relative;
    padding: 30px 0;
}
.website_list::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: linear-gradient(45deg, #0000000d, #00000054, #3a3838, #00000054, #0000002e);
    top: 0;
    left: 0;
}
.website_list::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: linear-gradient(45deg, #0000000d, #00000054, #3a3838, #00000054, #0000002e);
    bottom: 0;
    left: 0;
}
.web_logo{
    flex-basis: 10%;
}



/* our products start */


.column3{
    max-width: 1047px;
    position: relative;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.product_box {
    flex-basis: 31%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #e1e1e1, 0px 0px 5px #4e4e4e59;
    margin-bottom: 35px;
}
.content_header {
    text-align: center;
    margin-bottom: 45px;
}
.product_image {
    display: inline-flex;
    overflow: hidden;
    width: 100%;
}
.product_image img{
    transition: 300ms;
    width: 100%;
}
.product_image:hover img {
    transform: scale(1.1);
}
.product_detailes {
    margin: 10px 0 5px;
}

.product_detailes h2 {
    color: #18191F;
    font-size: 28px;
    font-weight: 500;
}

.price {
    padding: 5px 0;
    color: #3A3A3A;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

.rating i {
    font-size: 12px;
    color: #FF6666;
}
.services h4 {
    font-size: 14px;
    font-weight: 500;
    color: #787885;
    margin-top: 5px;
    line-height: 1.3;
}
span.white_space {
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #5E6366;
}
.see_more {
    display: inline-block;
    width: 100px;
    text-align: right;
    position: absolute;
    right: 0;
    bottom: -35px;
}
.see_more a {
    color: #e91e63;
    transition: 200ms;
}
.see_more a:hover {
    letter-spacing: 1px;
    color: #242B2E;
}
.navbar_links ul li a i {
    font-size: 20px;
}



/* our products end */


/* blog section start */



.one_row {
    grid-template-rows: repeat(1, 1fr);
}

article.article_box {
    flex-basis: 31%;
    max-width: 335px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #e1e1e1, 0px 0px 5px #4e4e4e59;
    margin-bottom: 35px;
}
.blog_image{
    width: 100%;
}
.blog_image img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    display: block;
}
.blog_detailes {
    padding: 20px;
    border-top: 1px solid #e1e1e1;
}

.blog_detailes>span {
    font-size: 14px;
    color: #6d6d6e;
}
.blog_detailes>h4 a {
    color: #242B2E;
    transition: 200ms;
}
.blog_detailes>h4 a:hover{
    color: #e91e63;
    letter-spacing: 1px;
}
.blog_detailes>p {
    font-size: 16px;
    font-weight: 400;
}

.comments>span>i, .comments > a {
    color: #e91e63;
    font-weight: 500;
    font-size: 12px;
}



/* blog section end */


/* footer section start */





footer.footer {
    background-color: #03203C;
    margin-top: 50px;
}

.footer_info {
    text-align: center;
}

.footer_info h3 {
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    padding: 50px 0 10px;
}

.footer_info p {
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: 1px;
    padding: 5px 0;
}

.social_links ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 50px;
}

.social_links ul li a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff2e;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    color: #FFFFFF;
    transition: transform 500ms;
}
.social_links ul li a:hover{
    color: #e91e63;
    border: 1px solid black;
    background-color: #FFFFFF;
    transform: scale(1.3);
}



/* footer section end */



/* ======================================
    Media Qurey 
==========================================*/

/* mobile device */



@media only screen and (max-width: 688px) {
    .header{
        display: none;
    }
    .main{
        width: 100%;
    }
    .container{
        width: 100%;
    }
    .row{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main_section_text{
        width: 100%;
        margin-top: 50px;
        order: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .main_section_text h1{
        font-size: 24px;
        text-align: center;
    }
    .main_section_text h1 span{
       display: block;
       line-height: 25px;
    }
    span.animation::after{
        background-color: transparent;
        border-left: none;
        animation: none;
    }
    .main_section_text p{
        width: 100%;
        text-align: center;
    }
    .button{
        padding: 10px 25px;
        font-size: 14px;
    }
    .main_section_image{
        width: 60%;
        margin: auto;
    }
    .main_section_image img{
        width: 100%;
    }
    .website_list{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .web_logo{
        padding: 10px 0;
    }
    .column3{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .product_box{
        margin: 0 auto 35px;
    }
    .see_more{
        width: 100%;
        text-align: center;
    }
    .one_row{
        width: 100%;
        display: flex;
    }
    section{
        padding: 30px 0;
    }

}



/* tablet device */



@media only screen and (min-width: 689px) and (max-width: 992px) {
    .header{
        display: none;
    }
    .main{
        width: 100%;
    }
    .container{
        width: 100%;
    }
    .row{
        width: 100%;
    }
    .main_section_text{
        flex-basis: 52%;
    }
    .main_section_image{
        flex-basis: 38%;
    }
    .main_section_image img{
        width: 100%;
    }
    .main_section_text h1{
        font-size: 32px;
        line-height: 55px;
    }
    .main_section_text h1 span{
        display: inline;
     }
     span.animation::after{
         background-color: transparent;
         border-left: none;
         animation: none;
     }
     .web_logo{
         flex-basis: 22%;
         align-items: center;
     }
     .content_header{
         width: 100%;
     }
     .column3{
        width: 75%;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
    }
    .product_box{
        flex-basis: 47%;
    }
    .product_detailes h2{
        font-size: 1.5em;
        line-height: 25px;
    }
    .price{
        padding: 15px 0 5px;
    }
    article.article_box{
        flex-basis: 47%;
    }
    .footer_info h3{
        font-size: 24px;
        font-weight: 400;
    }
    





}









/* 
font-family: 'Inter', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/